<div class="container-fluid" style="width: 500px; margin-top: 200px;">
    <div class="row mt-5">
        <div class="col"> 
        <div class="col-4"> </div>
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted" >Forgot Password</h4>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control"  name="email" [(ngModel)]= "email">
                        </div>
                        
                        
                        <button type="button" class="btn btn-infor" (click)="forgotPassword()">Send Link</button>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="/login" style="text-decoration: none;">Back to<span class="text-danger">Register</span></a>
                            </div>
                            <div class="col-md-6">
                                <a href="" class="text-dark" style="text-decoration: none;">Forgot Password</a>
                             </div>
                        </div>
                      </form>
                </div>
            </div>
        </div>
   
        
    </div>
</div>

